---
const ctaCopy = "Yes, It's Worth It For Me and I Want To Move Forward!";
const ctaLink = "#cartfunnel";

const ifItems = [
  {
    text: "You’re ready to elevate your leadership and drive exceptional growth. You want a real transformation to take your team to new heights.",
    cta: "Yes! I’m ready to elevate my leadership!",
  },
  {
    text: "You’re looking to unlock proven frameworks that deliver measurable results. You want strategies to scale your team and optimize performance.",
    cta: "Yes! I want strategies for measurable success!",
  },
  {
    text: "You’re eager to overcome common leadership challenges and help your team reach their highest potential. You need actionable solutions to tackle roadblocks.",
    cta: "Yes! I want solutions to leadership challenges!",
  },
  {
    text: "You’re ready to ask questions and get personalized advice for your unique sales leadership challenges. You want real-time insights to guide your growth.",
    cta: "Yes! I need personalized leadership insights!",
  },
  {
    text: "You’re committed to impactful leadership and want access to exclusive tools and mentorship savings that simplify your journey.",
    cta: "Yes! I’m ready for exclusive leadership tools!",
  },
];

---

<!-- ! START FLSalesLetter -->
<section class="bg-black py-8">
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto py-8 bg-white rounded-xl overflow-hidden">
    <div class="bg-white">
      <div class="px-2 md:px-8 py-8 max-w-5xl mx-auto">
        <h2 class="text-center">
          <span
            class="inline-block text-2xl md:text-5xl font-bold mb-2 text-blue-700"
            >BEING A SALES LEADER SHOULDN'T <br /> BE THIS HARD...</span
          >
          <br />
          <span class="inline-block text-lg md:text-3xl font-semibold"
            >If you could learn how to scale your sales team and lead with
            confidence without sacrificing all of your time and energy..." <br
            />
            <span class="italic inline-block md:my-3 text-blue-700"
              >Would this 75-minute masterclass be worth it?</span
            >
          </span>
          <span class="text-lg md:text-3xl font-semibold"
            >And if I can show you proven strategies from my 30 years of
            experience to lead smarter, not harder, breaking through growth
            barriers...<br />
            <span class="italic inline-block md:my-3 text-blue-700"
              >Take the LEAP OF GREATNESS and Join Us</span
            ></span
          >
        </h2>
        <!-- Buttons -->
        <div class="mt-8 gap-3 flex justify-center items-center">
          <svg
            class="size-24 text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-move-right"
            ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"></path></svg
          >
          <a
            class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-[#AE8625] via-[#d2b25c] to-[#d2ac47] hover:from-[#d2ac47] hover:via-[#edc967] hover:to-[#AE8625] scale-95 hover:scale-100 duration-100 border border-transparent text-white text-lg md:text-2xl font-medium rounded-md focus:outline-none focus:from-violet-600 focus:to-blue-600 py-3 px-4"
            href={ctaLink}
          >
            {ctaCopy}
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </a>
          <svg
            class="size-24 text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-move-left"
            ><path d="M6 8L2 12L6 16"></path><path d="M2 12H22"></path></svg
          >
        </div>
        <!-- End Buttons -->
      </div>

      <!-- Grid -->
      <div
        class="max-w-6xl mx-auto md:grid md:grid-cols-2 md:gap-10 lg:gap-16 md:items-center py-2"
      >
        <div class="hidden md:block mb-24 md:mb-0 sm:px-6">
          <div class="relative">
            <img
              class="rounded-xl"
              src="https://storage.googleapis.com/msgsndr/w3yWA6B5DKg1s1vpmFKk/media/665a0ad0fc79fd455b495f18.jpeg"
              alt="James Tanti"
            />
          </div>
        </div>
        <!-- End Col -->

        <div>
          <!-- Blockquote -->
          <blockquote class="relative">
            <svg
              class="absolute top-0 start-0 transform -translate-x-8 -translate-y-4 size-24 text-gray-200 dark:text-neutral-700"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                d="M7.39762 10.3C7.39762 11.0733 7.14888 11.7 6.6514 12.18C6.15392 12.6333 5.52552 12.86 4.76621 12.86C3.84979 12.86 3.09047 12.5533 2.48825 11.94C1.91222 11.3266 1.62421 10.4467 1.62421 9.29999C1.62421 8.07332 1.96459 6.87332 2.64535 5.69999C3.35231 4.49999 4.33418 3.55332 5.59098 2.85999L6.4943 4.25999C5.81354 4.73999 5.26369 5.27332 4.84476 5.85999C4.45201 6.44666 4.19017 7.12666 4.05926 7.89999C4.29491 7.79332 4.56983 7.73999 4.88403 7.73999C5.61716 7.73999 6.21938 7.97999 6.69067 8.45999C7.16197 8.93999 7.39762 9.55333 7.39762 10.3ZM14.6242 10.3C14.6242 11.0733 14.3755 11.7 13.878 12.18C13.3805 12.6333 12.7521 12.86 11.9928 12.86C11.0764 12.86 10.3171 12.5533 9.71484 11.94C9.13881 11.3266 8.85079 10.4467 8.85079 9.29999C8.85079 8.07332 9.19117 6.87332 9.87194 5.69999C10.5789 4.49999 11.5608 3.55332 12.8176 2.85999L13.7209 4.25999C13.0401 4.73999 12.4903 5.27332 12.0713 5.85999C11.6786 6.44666 11.4168 7.12666 11.2858 7.89999C11.5215 7.79332 11.7964 7.73999 12.1106 7.73999C12.8437 7.73999 13.446 7.97999 13.9173 8.45999C14.3886 8.93999 14.6242 9.55333 14.6242 10.3Z"
                fill="currentColor"></path>
            </svg>

            <div class="relative z-10">
              <p
                class="text-xs font-semibold text-gray-500 tracking-wide uppercase mb-3 dark:text-neutral-200"
              >
                Your Leadership Mentor, James Tanti
              </p>

              <p
                class="text-md font-medium italic text-gray-800 md:text-xl md:leading-normal xl:text-xl dark:text-neutral-200"
              >
              Imagine this: You wake up to notifications from your sales team hitting new targets, motivated and performing at their best. No more constant firefighting. No more chasing down deals. Just a steady, thriving team generating results, filling your pipeline, and driving revenue growth. <br /><br /> Sounds like a dream? <br />
                <br /> It’s NOT. It’s your reality with my Sales Leadership Masterclass—crafted from 30 years of proven success, designed to transform you into a leader who drives real impact.
              </p>
            </div>

            <footer class="mt-6">
              <div class="flex items-center">
                <div class="md:hidden shrink-0">
                  <img
                    class="size-12 rounded-full"
                    src="https://storage.googleapis.com/msgsndr/w3yWA6B5DKg1s1vpmFKk/media/665a0ad0fc79fd455b495f18.jpeg"
                    alt="James Tanti"
                  />
                </div>
                <div class="ms-4 md:ms-0">
                  <div
                    class="text-base font-semibold text-gray-800 dark:text-neutral-200"
                  >
                    James Tanti - Tanti Empowerment Alliance
                  </div>
                  <div class="text-sm text-gray-500 dark:text-neutral-400">
                    Your Leadership Success Mentor
                  </div>
                </div>
              </div>
            </footer>
          </blockquote>
          <!-- End Blockquote -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <div class="px-2 md:px-8 py-8 max-w-5xl mx-auto mt-8">
      <h2 class="text-center">
        <span
          class="inline-block text-2xl md:text-5xl font-bold mb-2 text-blue-700"
          >Now, Is This Sales Leadership Masterclass for You?</span
        >
        <br />
        <span class="inline-block text-lg md:text-2xl font-medium"
          >This masterclass is designed for ambitious sales leaders ready to elevate their teams, break growth barriers, and drive real results. It’s not for those content with the status quo.<br />
          <span class="italic inline-block md:my-3 text-blue-700"
            >To ensure this masterclass is the right fit, here’s a quick profile of the leader we built it for…</span
          >
        </span>
      </h2>
    </div>
    <div class="px-2 md:px-8 py-2 max-w-4xl mx-auto">
      {
        ifItems.map((item,i) => (
        <div
        class="text-center mb-4 border-2 border-[#5a6dff] rounded-md py-4 px-2"
      >
        <h3
          class="text-2xl bg-blue-600 inline-block px-4 py-1 text-white rounded-sm mb-2"
        >
          {item.cta}
        </h3>
        <p class="text-lg px-4">
          {item.text}
        </p>
      </div>
        ))
      }
      
      <!-- Buttons -->
      <div class="mt-2 gap-3 flex justify-center items-center">
        <svg
          class="size-24 text-black"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right"
          ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"></path></svg
        >
        <a
          class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-[#AE8625] via-[#d2b25c] to-[#d2ac47] hover:from-[#d2ac47] hover:via-[#edc967] hover:to-[#AE8625] scale-95 hover:scale-100 duration-100 border border-transparent text-white text-lg md:text-2xl font-medium rounded-md focus:outline-none focus:from-violet-600 focus:to-blue-600 py-3 px-4"
          href={ctaLink}
        >
          Yes! I'm Ready To Be A Great Sales Leader!
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
        <svg
          class="size-24 text-black"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-left"
          ><path d="M6 8L2 12L6 16"></path><path d="M2 12H22"></path></svg
        >
      </div>
      <!-- End Buttons -->
    </div>
  </div>
  <!-- ! END FLSalesLetter -->
</section>
